@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  /* Configure consistent fonts for all environments */
  --font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-link: light-dark(var(--color-sky-700), var(--color-sky-300));
  --color-fg: light-dark(var(--color-stone-50), var(--color-stone-900));
  --color-muted: light-dark(var(--color-stone-600), var(--color-stone-400));
  --color-primary: var(--color-sky-700);
  --color-primary-fg: var(--color-stone-50);
}

body, div.sA {
  color-scheme: light dark;
  --link: var(--color-link);
  --border: var(--color-muted);
  --primary: var(--color-sky-700);
  --primary-fg: var(--color-stone-50);
}

a {
  color: var(--link);
}
